In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import sklearn as sk
import torch as pt

r = np.random.default_rng(123456789)

In [2]:
sample = pd.read_csv('sample.csv')

In [3]:
test = pd.read_csv('test.csv')

In [4]:
train = pd.read_csv('train.csv')

In [5]:
sample.head()

      Id    y
0  10000  0.0
1  10001  1.0
2  10002  2.0
3  10003  3.0
4  10004  4.0

In [6]:
train.head()

,Id,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,0,738.023171,1764.052346,400.157208,978.737984,2240.893199,1867.557990,-977.277880,950.088418,-151.357208,-103.218852,410.598502
1,1,400.646015,144.043571,1454.273507,761.037725,121.675016,443.863233,333.674327,1494.079073,-205.158264,313.067702,-854.095739
2,2,189.900156,-2552.989816,653.618595,864.436199,-742.165020,2269.754624,-1454.365675,45.758517,-187.183850,1532.779214,1469.358770
3,3,-78.399449,154.947426,378.162520,-887.785748,-1980.796468,-347.912149,156.348969,1230.290681,1202.379849,-387.326817,-302.302751
4,4,-547.373531,-1048.552965,-1420.017937,-1706.270191,1950.775395,-509.652182,-438.074302,-1252.795360,777.490356,-1613.897848,-212.740280

In [7]:
test.head()

,Id,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,10000,-483.797492,1288.057065,-129.878712,-198.078388,-334.487592,-391.443186,-612.406176,-676.523964,1327.229655,-448.695446
1,10001,-316.407305,30.830556,-313.356726,-173.259184,-327.368719,944.368248,1122.017380,112.338731,1372.340221,2062.561842
2,10002,-2448.558997,-561.988408,355.098820,634.378170,-392.450091,-813.156399,-232.873263,246.801210,-562.413197,-841.602015
3,10003,-942.120025,945.373015,140.910705,1753.565841,-347.223685,-1489.493408,-508.035412,1992.650031,555.461973,-1696.076948
4,10004,1752.366157,-597.550816,-466.491398,-1094.792276,-645.424882,-202.154830,205.073469,-270.385827,-310.299496,362.212675

In [21]:
#Plan:
#Split X and y in training data
tx = train.iloc[:,2:12]
tx.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,1764.052346,400.157208,978.737984,2240.893199,1867.557990,-977.277880,950.088418,-151.357208,-103.218852,410.598502
1,144.043571,1454.273507,761.037725,121.675016,443.863233,333.674327,1494.079073,-205.158264,313.067702,-854.095739
2,-2552.989816,653.618595,864.436199,-742.165020,2269.754624,-1454.365675,45.758517,-187.183850,1532.779214,1469.358770
3,154.947426,378.162520,-887.785748,-1980.796468,-347.912149,156.348969,1230.290681,1202.379849,-387.326817,-302.302751
4,-1048.552965,-1420.017937,-1706.270191,1950.775395,-509.652182,-438.074302,-1252.795360,777.490356,-1613.897848,-212.740280

In [12]:
ty = train.iloc[:,1]
ty.head()

0    738.023171
1    400.646015
2    189.900156
3    -78.399449
4   -547.373531
Name: y, dtype: float64

In [75]:
   
def lsq_error(X,w):
    fX = X @ w.transpose()
    fX.head()
    delta = (ty-fX)
    sum=0
    l = len(delta)
    for i in len:
        sum = sum + pow(delta.iloc(i), 2)    
     
    return lsqe
    

def gradient(w):
    return vector;

In [17]:

#Define random weight vector in R10
w = r.random((1,10))
w = w*10
print(w)

MAX_ERROR = 10e-4


#while error > 10e-4 do
    #compute dot product x*w
    #compute least squares error
    #compare error with threshhold error maybe terminateand output w*

    #compute derrivative according to current w
    #gradient descent with stepsize mu
    #update w and reiterate loop

[[6.51780132 6.14672317 3.76552299 3.15935087 0.74772245 8.7376152
  0.78616982 1.35066192 2.57821813 9.91305526]]

In [76]:
lsqe = lsq_error(tx,w)

TypeError: 'builtin_function_or_method' object cannot be interpreted as an integer

In [11]:

#Define random weight vector in R10
w = r.random((1,10))
w = w*10
print(w)

MAX_ERROR = 10e-4
#while error > 10e-4 do
    #compute dot product x*w
    #compute least squares error
    #compare error with threshhold error maybe terminateand output w*

    #compute derrivative according to current w
    #gradient descent with stepsize mu
    #update w and reiterate loop

[[5.29859717 0.83640131 2.69844257 0.53799837 5.6661849  0.18917737
  2.05373621 2.4935483  8.98778017 1.07797293]]